.leftsection{
    display: inline;
    display: flex;
    flex-direction: column;
    border: 0px solid pink;
}

.leftgrp{
    list-style: none;
    padding: 0.2vw 0.5vw;
    margin: 1vw 1vw;
    background-color: #222b33;
    border-radius: 15px;
}
@media only screen and (max-width:800px) {
   .leftgrp{
    width: auto;
    height: auto;
   } 
}

.tinypost{
    border: 0px solid white;
    margin: 0.5vw;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: 5vw;
}
.tinypost:hover{
    background-color: #323e4a;
}
@media only screen and (max-width:1000px) {
    .tinypost{
        flex-direction:column ;
    }
    .tinytext{
        display: none;
    }
    .tinypost{
        height: auto;
    }
}
.tinyhead{
    padding: 0%;
}

.tinhead{
    padding: 3px 1vw;
}

/* Colored icons */

.coloredico{
    border:0px solid white;
    background-color: #323e4a;
    border-radius: 8px;
    margin: 0.5vw;
}
.ficons{
    padding: 0.5vw;    
}
.greenico{ color: #3bcc78; }
.yelico{ color:#fad947; }
.oraico{ color:#f75b13; }

.js{ color:#d8b043; background-color:#705e2d ; border-radius: inherit; }
.bitc{ color:#d87243; background-color:#70402d ; border-radius: inherit; }
.design{ color:#4389d8; background-color:#2d4870 ; border-radius: inherit; }
.innov{ color:#d89743; background-color:#70512d ; border-radius: inherit; }
.tuto{ color:#43d863; background-color:#2d7043 ; border-radius: inherit; }
.busi{ color:#7043d8; background-color:#472d70 ; border-radius: inherit; }

.tinypara{
    padding-left: 0.5vw;
    border: 0px solid orange;
    width: 80%;
}
.tinytext{
    color: #92a1b0;
}