.leftsection{
    display: inline;
    display: flex;
    flex-direction: column;
    border: 0px solid pink;
}

.leftgrp{
    padding: 2vw 1vw;
    height: 10vw;
    margin: 1vw 1vw;
    background-color: #222b33;
    border-radius: 15px;
}
@media only screen and (max-width:800px) {
   .leftgrp{
    width: auto;
    height: 30vw;
   } 
}