.midsection{
    display: inline;
    display: flex;
    flex-direction: column;
    border: 0px solid white;
}

.midpost{
    display: grid;
    background-color: #222b33;
    border-radius: 15px;
    margin: 1.5vw 1vw;
    padding: 2vw;
}

@media only screen and (max-width:800px){
    .midpost{
        height: 10vw;
    }
}