.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    height: 2.5vh;
    padding: 2vw;
    background-color: #222b33;
    
}
@media only screen and (max-width:800px){
    .navbar{
        flex-direction: column;
        align-items: start;
        height: auto;
    }
}

.firstrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 0px solid white;
    width: 40%;
}
@media only screen and (max-width:800px){
    .firstrow{
        width: 97%;
        padding: 2vw;
    }
}

.logocont{
    border: 0px solid white;
    height: 2.2vh;
    padding: 1.3vw 0.7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f75206;
    border-radius: 5px;
}
.logocont:hover{
    background-color: white;
    box-shadow: 0vw 0vw 0.5vw white;
}
.logo{
    border:0px solid white;
    height:50px; width: 50px;
    margin: 0vw 1vw 0vw 0vw;
}
.imlogo{
    height: 100%; width: 100%;
    border-radius: 10px;
}

.iconcont{
    display: flex;
    justify-content: center;
    border: 0px solid orange;
}
.icons{
    margin: auto 1vw;
}
.homeicon{
    padding: 5px;
}
.homeicon:hover{
    background-color: #f75206;
    padding: 5px;
    border-radius: 3px;
}
.firstico{
    background-color: #f75206;
}
.firstico:hover{
    background-color: #222b33;
}

.searchbar{
    width: 30vw;
    background-color: #323e4a;
    color: #57708a;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchbari{
    border: none;
    width: 80%;
    background-color: #323e4a;
    color: #57708a;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}
.searchbar:hover{
    border: 1px solid #57708a;
    box-shadow: 0vw 0vw 2px #57708a;
}


.lastrow{
    display: flex;
    justify-content: space-between;
}

.lasticons{
    margin: auto 1vw;
    background-color: #323e4a;
    border-radius: 5px;
    padding: 8px;
}
.lasticons:hover{
    background-color: #f75206;
}

.ll{
    display: flex;
    flex-direction: row;
    flex:30%;
    border: 0px solid white;
}
@media only screen and (max-width:800px) {
    .ll{
        width: 95%;
    }
}