.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95vw;
    height: 2.5vh;
    padding: 2vw;
    background-color: #222b33;
    
}

.icons{
    margin: auto 2vw;
    border: 0px solid gray;
}
.homeicon{
    background-color: rgb(247, 82, 6);
    padding: 5px;
    border-radius: 3px;
}