.rightsection{
    border: 0px solid red;
}

.rightgrp{
    background-color: #222b33;
    padding:0.5vw;
    border: 0px solid red;
    margin: 1vw 1vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.grpheading{
    display: flex;
    border:0px solid red;
    width: 88%;
    margin: 1vw auto;
}

.smallpost{
    border:0px solid aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0vw 1vw;
    width: 98%;
    margin: 0vw auto;
}
@media only screen and (max-width:900px) {
    .smallpost{
        display: flex;
        flex-direction: column;
    }
}


.sppara{
    margin:0vw 1vw;
    flex: 25%;
}
@media only screen and (max-width:900px) {
    .rtextpara{
        display: none;
    }
}

.spimg{
    padding: 1vw 0.5Svw;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 18px;
}
@media only screen and (max-width:900px) {
    .spimg{
        height:25px; width:25px;
        margin-left: 0%;
        padding:0%;
        border-radius: 5px;
    }
    
}
.meetimg{
    height: 60px;
    height: 80px;
}
@media only screen and (max-width:900px) {
    .meetimg{
        height:25px; width:25px;
        margin-left: 0%;
        padding:0%;
        border-radius: 5px;
    }
}


.sarrow{
    border: 0px solid white;
    margin: auto;
    padding: 1vw 0.5vw;
}

.rtagcont{
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width:900px) {
    .rtagcont{
        display: flex;
        flex-direction: column;
    }
}
.rtags{
    background-color: #323e4a;
    font-size: small;
    padding: 0.2vw 0.5vw;
    margin: 0.5vw 0.3vw;
    border-radius:15px ;
    color: #57708a;
    text-align: center;
}